# If set to TRACE, it enables detailed logs to appear on stderr which is useful for debugging. It defaults to INFO.
export TF_LOG=TRACE

# Always write the log to the directory you're currently running terraform from.
export TF_LOG_PATH=./terraform.log

# Set the Hetzner Cloud API Token.
export HCLOUD_TOKEN=7a1Bj3X7TOy9evBmyoVoV7Cw6IMiskL9cGub0Vtyj8yc56rcSok7AVEGsmTzyzcL
